In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.23.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import numpy as np

# Bloque de ejercicios 1: Primeros pasos

## Ejercicio 1

In [2]:
notas = -3
print(notas)

-3

## Ejercicio 2

In [13]:
s = 25
y = 10

print(f"El valor de \"s\" es {s} y el de \"y\" es {y}")

El valor de "s" es 25 y el de "y" es 10

## Ejercicio 3

In [14]:
name = "Juan \"El Profesor\""
name

'Juan "El Profesor"'

## Ejercicio 4

In [16]:
nameAux1 = "Juan"
nameAux2 = " \"El Profesor\""
name = nameAux1 + nameAux2
name

'Juan "El Profesor"'

## Ejercicio 5

In [20]:
text = "no cuentes los días, haz que los días cuenten"
print(text.title())
print(text.upper())
print(text.lower())

No Cuentes Los Días, Haz Que Los Días Cuenten
NO CUENTES LOS DÍAS, HAZ QUE LOS DÍAS CUENTEN
no cuentes los días, haz que los días cuenten

## Ejercicio 6

In [37]:
x = 26
y = 35

print(f"{x} + {y} = {x+y}")
print(f"{x} * {y} = {x*y}")
print(f"2 + 32 * 10 = {2+32*10}")

power = 3**9

print(f"3 elevado a 9 = {power}")

power = power/10000
print(f"(3 elevado a 9)/10000 = {power}")
power = round(power,2)
print(f"Redondeado a 2 decimales = {power}")

powerType = type(power)
powerType = str(powerType)
powerType = powerType.replace("<class '","")
powerType = powerType.replace ("'>","")

print(f"Y es de tipo {powerType}")

26 + 35 = 61
26 * 35 = 910
2 + 32 * 10 = 322
3 elevado a 9 = 19683
(3 elevado a 9)/10000 = 1.9683
Redondeado a 2 decimales = 1.97
Y es de tipo float

## Ejercicio 7

In [44]:
print(f"El valor absoluto de -32 es {abs(-32)}")

list1 = (3, -6, 4, -10, 2.6666)

max = list1[0]
min = list1[0]

for num in list1:
    if max < num: 
        max = num
    if min > num: 
        min = num

print(f"El valor máximo de la lista es {max}")
print(f"El valor mínimo de la lista es {min}")

El valor absoluto de -32 es 32
El valor máximo de la lista es 4
El valor mínimo de la lista es -10

## Ejercicio 8

In [45]:
L = [10, None, 8, 5, None, 20]

for i in range(len(L)):
    if L[i] == None:
        L[i] = -1
L

[10, -1, 8, 5, -1, 20]

In [47]:
L = [10, None, 8, 5, None, 20]
df = pd.DataFrame(L, columns = ["Lista"])
df

   Lista
0   10.0
1    NaN
2    8.0
3    5.0
4    NaN
5   20.0

# Bloque de ejercicios 2:  Bucles y dataframes

## Ejercicio 1

In [52]:
Lenguages = ["Python", "Matlab", "R", "VBA", "Julia", "C++"]

count = 0

for i in range(len(Lenguages)):
    if Lenguages[i] == "Python" or Lenguages[i] == "C++": Lenguages[i] = 1
    else: Lenguages[i] = 0

Lenguages

[1, 0, 0, 0, 0, 1]

## Ejercicio 2

In [53]:
L = [10, None, 8, 5, None, 20]

for i in range(len(L)):
    if L[i] == None:
        L[i] = -1
L

[10, -1, 8, 5, -1, 20]

In [57]:
L = [10, None, 8, 5, None, 20]
df = pd.DataFrame(L, columns = ["Lista"])
df.Lista = df.Lista.fillna(-1)
df

   Lista
0   10.0
1   -1.0
2    8.0
3    5.0
4   -1.0
5   20.0

In [85]:
#Dataframe con la media substituyendo los valores vacios
l = [10, None, 8, 5, None, 20]
df = pd.DataFrame(l, columns = ["Lista"])
df.Lista = df.Lista.fillna(df.Lista.mean())
print("DataFrame con la media substituyendo los valores vacios")
print(df)
print("\n")

#Apendización de columna
listado2 = [10, 20, 50, 30, 20, 0]
df["Segunda"] = listado2

print("DataFrame con la columna Segunda añadida")
print(df)
print("\n")

#Eliminación de columna

print("DataFrame con la columna Lista eliminada")
df = df.drop(["Lista"], axis=1)
print(df)

DataFrame con la media substituyendo los valores vacios
   Lista
0  10.00
1  10.75
2   8.00
3   5.00
4  10.75
5  20.00


DataFrame con la columna Segunda añadida
   Lista  Segunda
0  10.00       10
1  10.75       20
2   8.00       50
3   5.00       30
4  10.75       20
5  20.00        0


DataFrame con la columna Lista eliminada
   Segunda
0       10
1       20
2       50
3       30
4       20
5        0

## Ejercicio 3

In [78]:
rangefill = range(10, 41, 10)
listado = []

for num in rangefill:
    listado.append(num)
print(listado)


listado.append(50)
print("\nAgregamos el valor 50")
print(listado)

listado[0] = 100
print("\nModificamos el primer número (10) por 100")
print(listado)

[10, 20, 30, 40]

Agregamos el valor 50
[10, 20, 30, 40, 50]

Modificamos el primer número (10) por 100
[100, 20, 30, 40, 50]

## Ejercicio 4

In [84]:
temperatura = []
rangefill = range(10, 51, 10)

for num in rangefill:
    temperatura.append(num)
print("Lista de temperaturas")
print(temperatura)

print(f"\nElemento en la posición 1 = {temperatura[1]}")
print(f"Elemento en la posición 0 = {temperatura[0]}")
print(f"Elemento en la posición -1 = {temperatura[-1]}")

Lista de temperaturas
[10, 20, 30, 40, 50]

Elemento en la posición 1 = 20
Elemento en la posición 0 = 10
Elemento en la posición -1 = 50

# Bloque de ejercicios 3: Listas e inputs por teclado

## Ejercicio 1

In [104]:
listado = []
rangefill = range(10, 51, 10)

for num in rangefill:
    listado.append(num)
print("Lista:")
print(listado)

listado2 =[]
for i in range(len(listado)-1, -1, -1):
    listado2.append(listado[i])

print(listado2)

Lista:
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

## Ejercicio 2

In [106]:
numlist = []

print(f"Introduce los números de la lista")
for i in range(5):
    x = int(input (f"Introduce el elemento {i+1} de la lista: "))
    numlist.append(x)
    
    
print("\nTu lista:")
print(numlist)

Introduce los números de la lista
Introduce el elemento 1 de la lista: 3
Introduce el elemento 2 de la lista: 13
Introduce el elemento 3 de la lista: 13
Introduce el elemento 4 de la lista: 41
Introduce el elemento 5 de la lista: 51

Tu lista:
[3, 13, 13, 41, 51]

## Ejercicio 3

In [143]:
#Metodo 1 -> Recorremos el string contando que letras se encuentran dentro de nuestra lista de vocales
text = input("Dime tu frase favorita: ")
text_upper = text.upper()

vocales = ['A', 'Á', 'E', 'É', 'I', 'Í', 'O', 'Ó', 'U', 'Ú']
count = 0
for i in range(len(text_upper)):
    if text_upper[i] in vocales: count += 1

print(f"La frase \"{text}\" cuenta con {count} vocales")

Dime tu frase favorita: El veloz murcielago hindu comía feliz carrillo y kiwi.
La frase "El veloz murcielago hindu comía feliz carrillo y kiwi." cuenta con 20 vocales

In [150]:
#Metodo 2 -> Borramos las vocales con replace, y luego comparamos el tamaño del string original con el nuevo sin vocales
text = input("Dime tu frase favorita: ")
text_low = text.lower()

text_low = text_low.replace("a","")
text_low = text_low.replace("e","")
text_low = text_low.replace("i","")
text_low = text_low.replace("o","")
text_low = text_low.replace("u","")
text_low = text_low.replace("á","")
text_low = text_low.replace("é","")
text_low = text_low.replace("í","")
text_low = text_low.replace("ó","")
text_low = text_low.replace("ú","")

num_vowels = len(text) - len(text_low)
print(f"La frase \"{text}\" cuenta con {num_vowels} vocales")

Dime tu frase favorita: El veloz murcielago hindu comía feliz carrillo y kiwi.
La frase "El veloz murcielago hindu comía feliz carrillo y kiwi." cuenta con 20 vocales

## Ejercicio 4

In [141]:
# Función que dado un entero x entre 0 y 10 (ambos incluidos) muestra su tabla de multiplicar
def tablasmultiplicar (x):
    if x < 0 or x > 10:
        print("Solo números entre 0 y 10")
        return False
    for i in range(1, 11):
        print(f"{x}*{i} = {x*i}")
        
    return True


# Entrada por teclado y llamada de la función

x = input("¿Qué tabla de multiplicar quieres? ")
try:
    x = int(x)
    tablasmultiplicar(x)
except Exception as e:
    print(f"Error {str(e)}")

¿Qué tabla de multiplicar quieres? 6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60