*Creado por:*

*Isabel Maniega*

In [7]:
import numpy as np
import pandas as pd

# Ejercicio 1

**1)**

**Haz un programa que calcule los múltiplos de 3**

* Para ello primero primero debe preguntarse al usuario cuántos múltiplos desea añadir. 

* Nota: Puedes usar un bucle while si lo deseas

In [5]:
num = int(input("¿Cuantos múltiplos de 3 quieres?  "))
for i in range(1, num+1):
    print(i*3)

¿Cuantos múltiplos de 3 quieres?  10
3
6
9
12
15
18
21
24
27
30

**2)**

**Haz lo mismo con np.arange**

In [4]:
num = int(input("¿Cuantos múltiplos de 3 quieres?  "))
multiplos = np.arange(num)

for i in range(len(multiplos)):
    multiplos[i]=(i+1)*3
    
multiplos

¿Cuantos múltiplos de 3 quieres?  7

array([ 3,  6,  9, 12, 15, 18, 21])

# Ejercicio 2

Dada esta lista de variable "listado" y "valores": 10, 10, 20, 20, 20, 30, 40

Se pide:

In [6]:
listado = [10,10,20,20,20,30,40]

**1)**

Crea un DataFrame con esa información e imprímelo

In [10]:
df = pd.DataFrame()
df["valores"]= listado
df

   valores
0       10
1       10
2       20
3       20
4       20
5       30
6       40

**2)**

Usa value_counts() para determinar cuántas repeticiones hay de cada número en esa columna

In [13]:
df.valores.value_counts()

20    3
10    2
30    1
40    1
Name: valores, dtype: int64

**3)**

Haz un ".shape" a esa información del value_counts()

NOTA:

Escribe: .shape justo al final

In [14]:
df.valores.value_counts().shape

(4,)

**4)**

A esa misma instrucción con value_counts() escribe al final ".values"

Y veras la información..

pasa esa información a lista si puedes

y guarda ese listado como "repeticiones"

In [20]:
repeticiones = df.valores.value_counts().values.tolist()
repeticiones

[3, 2, 1, 1]

**5)**

A esa información de value_counts() añade al final ".index"

Y pasa posteriormente a lista esa información

y guarda ese listado con el nombre: "valores"

In [24]:
valores = df.valores.value_counts().index.tolist()
valores

[20, 10, 30, 40]

**6)**

Crea un DataFrame con 2 columnas, 

1 para "valores"

1 para "repeticiones"

llámalo: "df_value_counts" (por ejemplo)

Y observa..

In [27]:
df_value_counts = pd.DataFrame()
df_value_counts["valores"] = valores
df_value_counts["repeticiones"] = repeticiones

df_value_counts

   valores  repeticiones
0       20             3
1       10             2
2       30             1
3       40             1

**7)**

Haz lo siguiente: "df.value_counts()"

In [28]:
df.value_counts()

valores
20         3
10         2
30         1
40         1
dtype: int64

**8)**

Observa si hay diferencias entre: "df" y "df_value_counts"

In [29]:
df

   valores
0       10
1       10
2       20
3       20
4       20
5       30
6       40

In [40]:
df_value_counts

   valores  repeticiones
0       20             3
1       10             2
2       30             1
3       40             1

# Ejercicio 3

**Comparación de matrices**

Haz el código que testee si esas 2 matrices son iguales

In [41]:
def comparar_matrices(m1, m2):
    
    if m1.shape != m2.shape: return False

    for i in range(len(m1)):
        for j in range(len(m1[0])):
            if m1[i,j]!=m2[i,j]:
                return False
    
    return True

**1)**

Dadas:
    
* matriz1 = np.array([[1,2],[3,4]])

* matriz2 = np.array([[1,2],[3,8]])

In [38]:
matriz1 = np.array([
    [1,2],
    [3,4]
])
    
matriz2 = np.array([
    [1,2],
    [3,8],
])

if comparar_matrices(matriz1,matriz2): print("Las matrices son iguales")
else: print("Las matrices son diferentes")

Las matrices son diferentes

PISTAS:
    
* -1- RECORRER MATRIZ1 Y MATRIZ2 CON LA PARAMETRIZACIÓN de **i y j**

COMPROBAR: **( matriz1 [ i ][ j ] == matriz2 [ i ][ j ] )** 
               

* -2- crear una variable contador (inicializada en 0)

y, cuando detecte, un número de una matriz en una posición concreta, 

y sea diferente del número que tiene LA OTRA MATRIZ..entonces..


* -3- incremento 1 unidad en dicho contador:

SI los números son DISTINTOS

--> entonces, que se incremente en 1 unidad..

de tal manera que si ese contador=0 (al final)--> son todos iguales --> matriz1 = matriz2

y si es distinto de 0 -> es que POR LO MENOS 1 vez encontró un número diferente

matriz1 != matriz2


* -4- puedes usar np.arange( ) si lo deseas para las filas y para las columnas

* -5- recuerda el ejercicio del cronómetro para tener una referencia

**2)**

Dadas:
    
* matriz1 = np.array([[1,2],[3,4]])

* matriz2 = np.array([[1,2],[3,4]])

In [39]:
matriz1 = np.array([
    [1,2],
    [3,4]
])
    
matriz2 = np.array([
    [1,2],
    [3,4],
])

if comparar_matrices(matriz1,matriz2): print("Las matrices son iguales")
else: print("Las matrices son diferentes")

Las matrices son iguales

*Creado por:*

*Isabel Maniega*