## Importando librerias

In [1]:
# pip install pandas

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# ---------- introducción a python -----------

## -1- variables en python

In [4]:
info = "Hola Mundo"
info

'Hola Mundo'

In [5]:
info = 10
info

10

## -2- print

### -2.1- print en jupiter --> no es necesario

In [6]:
var1 = 1000
var1

1000

### -2.2- print con vsc --> Es necesario poner print

In [7]:
print(var1)

1000

### -2.3- Formas de imprimir

In [8]:
x = 3
y = 5
z = x+y
z

8

In [10]:
print("La suma de", x, "y", y, "es igual a", z)

La suma de 3 y 5 es igual a 8

In [13]:
print("La suma de " + str(x) + " y " + str(y) + " es igual a " + str(z))

La suma de 3 y 5 es igual a 8

In [14]:
print (f"La suma de {x} y {y} es igual a {z}")

La suma de 3 y 5 es igual a 8

In [15]:
print ("La suma de %s y %s es igual a %s" % (x,y,z))

La suma de 3 y 5 es igual a 8

### -3.1- Concatenación

In [16]:
palabra1 = "Hola"
palabra2 = "Mundo"
print(palabra1 + palabra2)

HolaMundo

### -3.2- Métodos upper, lower y title

In [18]:
info = "hola mundo"
info = info.title()
info

'Hola Mundo'

In [20]:
info = info.upper()
info

'HOLA MUNDO'

In [21]:
info = info.lower()
info

'hola mundo'

## Pruebas de cosas

### Tipo double

In [36]:
d = 999999999999999999999999912312312399999999.99999999999999999991231231231231000000000000000000054
type(d)

float

In [35]:
d

1e+42

# Ejercicios

## Ejercicio 6

In [63]:
x = 26
y = 35
suma = x + y
multi = x*y
operacion = (2 + 32) * 10
potencia = 3**9
redondeo = round(potencia,2)
tipo = type(redondeo)
tipo = str(tipo)
tipo = tipo.replace("<class '","")
tipo = tipo.replace ("'>","")

print(f"{x} + {y} = {suma} \n{x} * {y} = {multi} \n(2 + 32) * 10 = {operacion}")
print(f"3 elevado a 9 es igual a {potencia}\nRedondeado es {redondeo}\nY su tipo es: {tipo}")

26 + 35 = 61
26 * 35 = 910
(2 + 32) * 10 = 340
3 elevado a 9 es igual a 19683
Redondeado es 19683
Y su tipo es: int

## Ejercicio 7

In [52]:
absoluto = abs(-32)
mini = min(3,-6,4,-10,2.6666)
maxi = max(3,-6,4,-10,2.6666)
print (f"Absoluto: {absoluto} \nMáximo: {maxi} \nMínimo: {mini}")

Absoluto: 32
Máximo: 4
Mínimo: -10

In [67]:
import pandas as pd

## Ejercicio 8

In [4]:
L = [10,None,8,5,None,20]
for(x) in range(len(L)):
    if L[x]==None:
        L[x]=-1
L

[10, -1, 8, 5, -1, 20]

In [9]:
L = [10,None,8,5,None,20]
df = pd.DataFrame(L, columns = ["Lista"])
df

   Lista
0   10.0
1    NaN
2    8.0
3    5.0
4    NaN
5   20.0

## Ejercicio 9

In [18]:
lenguajes = ["Python", "Matlab", "R", "VBA", "Julia", "C++"]
print(lenguajes)

for i in range(len(lenguajes)) :
    if lenguajes[i] == "Python" or lenguajes[i]== "C++": 
        lenguajes[i] = 1
    else :
        lenguajes[i] = 0

print(lenguajes)

['Python', 'Matlab', 'R', 'VBA', 'Julia', 'C++']
[1, 0, 0, 0, 0, 1]

## Ejercicio 10

In [43]:
L = [10,None,8,5,None,20]
df = pd.DataFrame(L,columns = ["List"])

print(df.describe())
NullValues = len(df["List"]) - df["List"].count()
print(f"Null    {NullValues}.00 \n\n")

df = df.fillna(-1)
print(df)

        List
count   4.00
mean   10.75
std     6.50
min     5.00
25%     7.25
50%     9.00
75%    12.50
max    20.00
Null    2.00


   List
0  10.0
1  -1.0
2   8.0
3   5.0
4  -1.0
5  20.0

In [94]:
L = [10,None,8,5,None,20]
df = pd.DataFrame(L, columns=["Lista"])
df

   Lista
0   10.0
1    NaN
2    8.0
3    5.0
4    NaN
5   20.0

In [99]:
df.Lista = df.Lista.fillna(df.Lista.mean())
df

   Lista  List2
0  10.00     10
1  10.75     30
2   8.00     40
3   5.00      5
4  10.75     15
5  20.00     20

In [100]:
List2 = [10, 30, 40, 5, 15, 20]

df["List2"] = List2

df

   Lista  List2
0  10.00     10
1  10.75     30
2   8.00     40
3   5.00      5
4  10.75     15
5  20.00     20

## Ejercicio 11

In [127]:
Listado = []
for i in range(10, 50, 10):
    Listado.append(i)
print(Listado)
Listado.append(50)
print(Listado)
Listado[0] = 100
print(Listado)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

## Ejercicio 12

In [128]:
Temperatura = []
for i in range(10, 51, 10):
    Temperatura.append(i)
print(Temperatura)

pos1 = Temperatura[1]
pos0 = Temperatura[0]
posn1 = Temperatura[-1]

print(f"Posicion 1 = {pos1} \nPosicion 0 = {pos0} \nPosicion -1 = {posn1}")

[10, 20, 30, 40, 50]
Posicion 1 = 20
Posicion 0 = 10
Posicion -1 = 50

In [133]:
def factorial (x) :
    if x == 1 : 
        return 1
    else :
        return (x*factorial(x-1))

num = factorial(5)
print(f"El factorial de 5 es {num}")

El factorial de 5 es 120