# -1.1- Introducción a Python (Continuación)

## -1.1.0- Diccionarios

In [2]:
# clave-valor
# "key": value
# {"key": value}
# {"key1": "value1", "key2": "value2",.....}

In [3]:
diccionario = {"A": 10, "B": -2, "C": 35}
diccionario

{'A': 10, 'B': -2, 'C': 35}

In [4]:
diccionario["A"] # 10

10

In [5]:
diccionario["C"] # 35

35

In [6]:
diccionario["B"] # -2

-2

In [7]:
len(diccionario)

3

In [13]:
diccionario = {"clave1": 1, "clave2": 2, "clave3": 3}
diccionario

{'clave1': 1, 'clave2': 2, 'clave3': 3}

In [9]:
# Mostrar valores de claves
diccionario.keys()

dict_keys(['clave1', 'clave2', 'clave3'])

In [10]:
type(diccionario.keys())

dict_keys

In [11]:
# Mostrar valores de los valores
diccionario.values()

dict_values([1, 2, 3])

In [12]:
# Mostrar información del diccionario
# Usada en Bucles
diccionario.items()

dict_items([('clave1', 1), ('clave2', 2), ('clave3', 3)])

In [14]:
# Modificación de un valor
diccionario["clave1"] = 5
diccionario

{'clave1': 5, 'clave2': 2, 'clave3': 3}

In [15]:
# Eliminacion de un campo del diccionario
del diccionario["clave3"]
diccionario

{'clave1': 5, 'clave2': 2}

In [16]:
len(diccionario)

2

## Usos de tuplas/listas y diccionarios en Dataframe

In [20]:
import pandas as pd

In [17]:
# Usamos comillas dobles para los nombres de los estudiantes (E)
E = ["Andres", "Marcos", "Eva", "María"]
E

['Andres', 'Marcos', 'Eva', 'María']

In [18]:
# Notas de los exámenes (N), de 0 a 10, siendo 10 la nota más alta
N = [9, 7, 8, 6]
N

[9, 7, 8, 6]

In [19]:
data = list(zip(E, N))
data

[('Andres', 9), ('Marcos', 7), ('Eva', 8), ('María', 6)]

In [21]:
df = pd.DataFrame(data, columns=["Estudiantes", "Notas"])
df

  Estudiantes  Notas
0      Andres      9
1      Marcos      7
2         Eva      8
3       María      6

In [22]:
diccionario = {"Estudiantes": E, "Notas": N}
df2 = pd.DataFrame(diccionario)
df2

  Estudiantes  Notas
0      Andres      9
1      Marcos      7
2         Eva      8
3       María      6

In [26]:
curso = dict(Estudiantes=E, Notas=N)
curso

{'Estudiantes': ['Andres', 'Marcos', 'Eva', 'María'], 'Notas': [9, 7, 8, 6]}

## -1.1.1- Strings

In [27]:
s1 = "Hola, ¿Como estás?"
s1

'Hola, ¿Como estás?'

In [28]:
s1[-1], s1[17]

('?', '?')

In [29]:
len(s1)

18

In [30]:
s1[0], s1[1], s1[2], s1[3], s1[4], s1[5], s1[6], s1[7], s1[8], s1[9]

('H', 'o', 'l', 'a', ',', ' ', '¿', 'C', 'o', 'm')

In [31]:
s1[0]

'H'

In [32]:
# Ejemplo de lista para buscar palabras que empiezen por "J": ["Maria", "Juan", "Elisa"]
# startswith = False, True (Boleano)
s1.startswith("J")

False

In [33]:
s1.startswith("H")

True

In [34]:
# Ejemplo de lista para buscar palabras que acaben por "J": ["Maria", "Juan", "Elisa"]
# endswith = False, True (Boleano)
s1.endswith("J")

False

In [35]:
s1.endswith("?")

True

## -1.1.2- Listas con falta de valores (missing values)

In [36]:
L = [10, -20, None, 80, -5, None, 20]
L

[10, -20, None, 80, -5, None, 20]

In [37]:
L[2] = -1
L

[10, -20, -1, 80, -5, None, 20]

In [38]:
L[-2] = -1
L

[10, -20, -1, 80, -5, -1, 20]

In [40]:
# Bucles "for" muestre en lista
for i in L:
    print(i)

10
-20
-1
80
-5
-1
20

In [41]:
L = [10, -20, None, 80, -5, None, 20]
L

[10, -20, None, 80, -5, None, 20]

In [42]:
# range: limita los valores a mostrar.
# range decir empieza en posición 0 y acaba en posición 7
for i in range(0, len(L)):
    print(i)

0
1
2
3
4
5
6

In [43]:
# condiciones: si esto es igual a x entonces....
# if i == None:
# sino haz esto otro = else:

In [44]:
for i in range(0, len(L)):
    if L[i] == None:
        print(True)
    else:
        print(False)

False
False
True
False
False
True
False

In [45]:
for i in range(0, len(L)):
    if L[i] == None:
        L[i] = -1
L

[10, -20, -1, 80, -5, -1, 20]