In [1]:
import pandas as pd

*Creado por:*

*Isabel Maniega*

# Ejercicio 1

**1)** Crea una lista de nombre "Concursante" que contenga los siguientes valores:
    
"Juan", "Pedro", "Andrea", "Luis", "Ana", "Lara", "Jose", "Estefania"

In [2]:
con = [
    "Juan", "Pedro", "Andrea", 
    "Luis", "Ana", "Lara", 
    "Jose", "Estefania"
]

**2)** Crea una lista de nombre "Resultados" que contenga los siguientes valores:
    
"20", "30", "50", "20", "10", "5", "60", "40"

In [3]:
res = [
    20, 30, 50, 
    20, 10, 5, 
    60, 40
]

**3)** Crea un diccionario con los concursantes y los resultados.

In [4]:
dic_con = {}

for i in range(len(con)):
    dic_con[con[i]] = res[i]
    
dic_con

{'Juan': 20,
 'Pedro': 30,
 'Andrea': 50,
 'Luis': 20,
 'Ana': 10,
 'Lara': 5,
 'Jose': 60,
 'Estefania': 40}

**4)** Crea un dataframe vacio y apendiza los concursantes y los resultados mediante el empleo de un bucle for

In [5]:
df_con = pd.DataFrame(columns=["Concursantes","Resultados"])
df_con

for key,value in dic_con.items():
    new_row = pd.DataFrame([[key,value]],columns=["Concursantes","Resultados"])
    df_con = pd.concat([df_con,new_row],ignore_index=True)

df_con

  Concursantes Resultados
0         Juan         20
1        Pedro         30
2       Andrea         50
3         Luis         20
4          Ana         10
5         Lara          5
6         Jose         60
7    Estefania         40

**5)** Con ayuda de loc filtra los resultados obtenidos desde pedro hasta Lara.

In [6]:
df_con.loc[1:5]

  Concursantes Resultados
1        Pedro         30
2       Andrea         50
3         Luis         20
4          Ana         10
5         Lara          5

**6)** Con ayuda de loc filtra los resultados obtenidos mayores o iguales a 40

In [7]:
df_con.loc[df_con.Resultados >= 40]

  Concursantes Resultados
2       Andrea         50
6         Jose         60
7    Estefania         40

**7)** Muestra el concursante con la mayor puntuación

In [8]:
df_con.loc[df_con.Resultados == max(df_con.Resultados)]

  Concursantes Resultados
6         Jose         60

**8)** Muestra el concursante con la menor puntuación

In [9]:
df_con.loc[df_con.Resultados == min(df_con.Resultados)]

  Concursantes Resultados
5         Lara          5

**9)** Modifica con la ayuda de loc los valores 20 por 0

In [10]:
df_con

  Concursantes Resultados
0         Juan         20
1        Pedro         30
2       Andrea         50
3         Luis         20
4          Ana         10
5         Lara          5
6         Jose         60
7    Estefania         40

In [11]:
df_con.loc[df_con.Resultados == 20,"Resultados"] = 0
df_con

  Concursantes Resultados
0         Juan          0
1        Pedro         30
2       Andrea         50
3         Luis          0
4          Ana         10
5         Lara          5
6         Jose         60
7    Estefania         40

**10)** Modifica Concursante "Juan" su puntuación por "None" con ayuda de .loc

In [12]:
df_con.loc[df_con.Concursantes == "Juan","Resultados"] = None
df_con

  Concursantes Resultados
0         Juan       None
1        Pedro         30
2       Andrea         50
3         Luis          0
4          Ana         10
5         Lara          5
6         Jose         60
7    Estefania         40

**NOTA:** los apartados 9 y 10 debéis buscar por internet o en la documentación de pandas como realizar ese ejercicio

# Ejercicio 2

Buscar utilidades de fibonacci

**Proporción áurea**: Muy elegante para arte<br>
**Arbol genealógico abejas**: 1 zangano tiene 1 madre, 2 abuelos, 3, visabuelos, 5, tatarabuelos, 8 tastarabuelos etc.

# Ejercicio 3

Escribe un programa que pida dos palabras y diga si riman o no. Si coinciden
las tres últimas letras tiene que decir que riman. Si coinciden sólo las dos
últimas tiene que decir que riman un poco y si no, que no riman.

In [3]:
word1 = input("Dime tu primera palabra: ")
word2 = input("Dime tu segunda palabra: ")

cont = 0
error = False


for i in range(-1,-4,-1):
    try:
        if word1[i].upper() == word2[i].upper(): cont += 1
        else: break
    except:
        print("Error -> Las palabras deben tener mínimo 3 letras")
        error = True


if not error:
    if cont == 3: print(f"Las palabras {word1} y {word2} riman")
    elif cont == 2: print(f"Las palabras {word1} y {word2} riman a medias")
    else: print(f"Las palabras {word1} y {word2} no riman")

Dime tu primera palabra: Casa
Dime tu segunda palabra: Puente
Las palabras Casa y Puente no riman

*Creado por:*

*Isabel Maniega*