Contenido creado por: 

*Isabel Maniega*

* Los ejercicios puntuan 2 puntos cada uno hasta un M√°ximo de 10 puntos.
* Lea los ejercicios detenidamente y realice cada uno de los apartados.
* En caso de duda puede consultar internet para su realizaci√≥n.

    # Suerte!! üòä

****

Examen realizado por Luis Vallejo

In [1]:
import numpy as np
import pandas as pd

# Ejercicio 1

Dado el siguiente array de Numpy:

array = np.array([10,20,30])

Se pide:

a) Transformar el array en una lista (lista de nombre "L")

b) Una vez creada esa lista L, modificar la lista en su posici√≥n 1, por 200

c) Tras responder a) y b) trata de a√±adir el valor 40 al final de la lista

In [2]:
array = np.array([10,20,30])
L = list(array)
L[1]=200
L.append(40)
print(L)

[10, 200, 30, 40]

****

# Ejercicio 2

Queremos recorrer esta lista: L = [100,200,300,400]

Teniendo en cuenta que queremos obtener aquellos valores < 150

(y almacenarlos en una lista)

Hazlo, si sabes de varias formas posibles.

In [3]:
L = [100,200,300,400]
new_list = []

for num in L:
    if num < 150: new_list.append(num)
    
print(new_list)

[100]

In [4]:
new_list2 = []

for i in range(len(L)):
    if L[i] < 150: new_list2.append(L[i])
        
print(new_list2)

[100]

In [5]:
new_list3 = []

i = 0
while i < len(L):
    if L[i] < 150: new_list3.append(L[i])
    i += 1
    
print(new_list3)

[100]

In [6]:
new_list4 = []

new_list4.append(100)
print(new_list4)

[100]

****

# Ejercicio 3

Crea un diccionario que tenga la nota de 3 asignaturas y 

haz un peque√±o algoritmo que calcule la nota media

In [7]:
# CURSO         -> Nota
# ---------------------
# Matem√°ticas   ->  10
# Historia      ->  8
# Ingl√©s        ->  6

dict_notas = {"Matem√°ticas":10,"Historia":8,"Ingl√©s":6}

**1)** Muestra el valor de las claves

In [8]:
for key in dict_notas.keys():
    print(key)

Matem√°ticas
Historia
Ingl√©s

**2)** Muestra el valor de los valores del diccionario

In [9]:
for value in dict_notas.values():
    print(value)

10
8
6

**3)** Apendiza en el diccionario un nuevo elemento: 
    
Lengua  --> 9

In [10]:
dict_notas["Lengua"]=9
dict_notas

{'Matem√°ticas': 10, 'Historia': 8, 'Ingl√©s': 6, 'Lengua': 9}

**4)** Haciendo uso un bucle muestra la clave y el valor del diccionario, cuyo resultado final sean listas anidadas.

[["clave1", valor1], ["clave2", valor2]]

In [11]:
list_notas = []

for key,value in dict_notas.items():
    list_notas.append([key,value])
list_notas

[['Matem√°ticas', 10], ['Historia', 8], ['Ingl√©s', 6], ['Lengua', 9]]

**5)** Reconvierte el diccionario para transformarlo en un dataframe y busca la asignatura con la nota m√°s alta

In [12]:
df_notas = pd.DataFrame(list_notas,columns = ["Asignatura","Nota"])
df_notas

    Asignatura  Nota
0  Matem√°ticas    10
1     Historia     8
2       Ingl√©s     6
3       Lengua     9

In [13]:
df_notas.max()

Asignatura    Matem√°ticas
Nota                   10
dtype: object

**6)** ¬øy la nota m√°s baja?

In [14]:
df_notas.min()

Asignatura    Historia
Nota                 6
dtype: object

**7)** Ordena el dataframe en orden descendente:

In [15]:
df_notas.sort_values(by=["Nota"],ascending = False)

    Asignatura  Nota
0  Matem√°ticas    10
3       Lengua     9
1     Historia     8
2       Ingl√©s     6

****

# Ejercicio 4

Dado este listado de n√∫meros:

-8, 350, 0, 799, 200, -30, 650, 0, 1650, 900

Haz un peque√±o algoritmo que haga lo siguiente:
* Si el n√∫mero es negativo debe imprimir lo siguiente **el valor es negativo**
* Si es 0 debe imprimir un mensaje que indique: **0**
* Si se encuentra entre 0 (no incluido) y 400 (si incluido), imprime **0,400**
* Si se encuentra entre 600 (no incluido) y 700 (no incluido), debe imprimir **(600, 700)**
* Si es 200 debe **continuar** sin hacer nada
* Si se encuentra entre 800 (no incluido) y 1000 (no incluido) debe **saltar automaticamente y dejar de testear** (parar)
* Para el resto de n√∫meros, debe decir: **valor demasiado grande, desde 1000, en adelante**

In [16]:
list_num = [
    -8, 350, 0, 
    799, 200, -30, 
    650, 0, 1650, 
    900
]

for num in list_num:
    if num < 0: print("El valor es negativo")
    elif num == 0: print(0)
    elif num == 200: continue
    elif num <= 400: print("(0,400]")
    elif (num > 600) and (num < 800): print("(600,800)")
    elif (num > 800) and (num < 1000): break
    else: print("Valor demasiado grande, desde 1000 en adelante")

El valor es negativo
(0,400]
0
Valor demasiado grande, desde 1000 en adelante
El valor es negativo
(600,700)
0
Valor demasiado grande, desde 1000 en adelante

****

# Ejercicio 5

**1)** Crea una lista de nombre "Concursante" que contenga los siguientes valores:

"Teodoro", "Cristina", "Antonio", "Marina", "Laura", "Felix", "Jose", "Estefania"

In [17]:
concursantes = [
    "Teodoro", "Cristina", "Antonio", 
    "Marina", "Laura", "Felix", 
    "Jose", "Estefania"
]

**2)** Crea una lista de nombre "Resultados" que contenga los siguientes valores:

40, 20, 50, 3, 50, 5, 60, 40

In [18]:
resultados = [
    40, 20, 50, 
    3, 50, 5, 
    60, 40
]

**3)** Con ayuda de las listas anteriores crea un diccionario con los concursantes y los resultados.

In [19]:
dic_res = {}
for i in range(len(concursantes)):
    dic_res[concursantes[i]] = resultados[i]
dic_res

{'Teodoro': 40,
 'Cristina': 20,
 'Antonio': 50,
 'Marina': 3,
 'Laura': 50,
 'Felix': 5,
 'Jose': 60,
 'Estefania': 40}

**4)** Crea un dataframe vacio y apendiza los concursantes y los resultados mediante el empleo de un bucle for

In [20]:
df = pd.DataFrame(columns = ["Concursante","Resultado"])

for key,value in dic_res.items():
    newrow = pd.DataFrame({"Concursante":[key],"Resultado":[value]})
    df = pd.concat([df,newrow],ignore_index=True)
    
df

  Concursante Resultado
0     Teodoro        40
1    Cristina        20
2     Antonio        50
3      Marina         3
4       Laura        50
5       Felix         5
6        Jose        60
7   Estefania        40

**5)** Con ayuda de loc filtra los resultados obtenidos desde Antonio hasta Jose.

In [21]:
df.loc[2:6]

  Concursante Resultado
2     Antonio        50
3      Marina         3
4       Laura        50
5       Felix         5
6        Jose        60

**6)** Con ayuda de loc filtra los resultados obtenidos mayores o iguales a 40

In [22]:
df.loc[df.Resultado >= 40]

  Concursante Resultado
0     Teodoro        40
2     Antonio        50
4       Laura        50
6        Jose        60
7   Estefania        40

**7)** Muestra el concursante con la mayor puntuaci√≥n

In [23]:
df.max()

Concursante    Teodoro
Resultado           60
dtype: object

In [24]:
#Metodo alternativo para que lo imprima m√°s bonito
df.loc[df.Resultado == df.Resultado.max()]

  Concursante Resultado
6        Jose        60

**8)** Muestra el concursante con la menor puntuaci√≥n

In [25]:
df.min()

Concursante    Antonio
Resultado            3
dtype: object

In [26]:
#Metodo alternativo para que lo imprima m√°s bonito
df.loc[df.Resultado == df.Resultado.min()]

  Concursante Resultado
3      Marina         3

**9)** Modifica con la ayuda de loc los valores 50 por 0

In [27]:
df.loc[df.Resultado == 50,"Resultado"] = 0
df

  Concursante Resultado
0     Teodoro        40
1    Cristina        20
2     Antonio         0
3      Marina         3
4       Laura         0
5       Felix         5
6        Jose        60
7   Estefania        40

**10)** Modifica Concursante "Marina" su puntuaci√≥n por "50" con ayuda de .loc

In [28]:
df.loc[df.Concursante == "Marina","Resultado"] = 50
df

  Concursante Resultado
0     Teodoro        40
1    Cristina        20
2     Antonio         0
3      Marina        50
4       Laura         0
5       Felix         5
6        Jose        60
7   Estefania        40

Gracias por la atenci√≥n

*Isabel Maniega*