*Creado por*

*Isabel Maniega*

# Ejercicio 1

Algo típico en algunos proyectos, podría ser programar cosas según ciertas normativas o especificaciones.

Nos imaginaremos el siguiente supuesto.

Es demasiado simple, y no simula algo real concreto, pero nos va a permitir repasar los condicionales.

In [1]:
# Condicionales
# if ....!=....: 
# elif.... == ...:
# else:

# Signos:
# != distinto de
# == igual a
# >= mayor o igual
# <= menor o igual

# Continue / break
# Bucle for break --> para la iteración (recorrer)
# Bucle for continue --> sigue a otro valor

Dado este listado de números:

-3, 150, 0, 499, 500, 1200, -350, 0, 750, 25

Haz un pequeño algoritmo que haga lo siguiente:
* Si el número es negativo debe imprimir lo siguiente **el valor es negativo**
* Si es 0 debe imprimir un mensaje que indique: **0**
* Si se encuentra entre 0 (no incluido) y 200 (si incluido), imprime **0,200**
* Si se encuentra entre 200 (no incluido) y 500 (no incluido), debe imprimir **(200, 500)**
* Si es 500 debe **continuar** sin hacer nada
* Si se encuentra entre 500 (no incluido) y 1000 (no incluido) debe **saltar automaticamente y dejar de testear** (parar)
* Para el resto de números, debe decir: **valor demasiado grande, desde 1000, en adelante**

In [5]:
numbers = [
    -3, 150, 0, 
    499, 500, 1200, 
    -350, 0, 750, 
    25
    ]

for num in numbers:
    if num < 0: print("El valor es negativo")
    elif num == 0: print(0)
    elif num <= 200: print("0,200")
    elif num < 500: print ("(200,500)")
    elif num == 500: continue
    elif num < 1000: break
    else: print("Valor demasiado grande, desde 1000, en adelante")

El valor es negativo
0,200
0
(200,500)
Valor demasiado grande, desde 1000, en adelante
El valor es negativo
0

# Ejercicio 2

Dada la lista de nombre "listado" y de valores: 10, 20, 20, 30, 40, 40, 40

**1)** Crea la lista e imprimela

In [10]:
numbers = [
    10, 20, 20,
    30, 40, 40, 
    40
    ]

numbers

[10, 20, 20, 30, 40, 40, 40]

**2)** Haz un set de esa lista

In [7]:
set(numbers)

{10, 20, 30, 40}

**3)** Trata de buscar los números NO REPETIDOS de esa lista (sin usar set)

**Pista: Puedes almacenar todo en una nueva lista**

In [24]:
numbers = [
    10, 20, 20, 
    30, 40, 40, 
    40
    ]
new_numbers = []

for i in range(0,len(numbers)):
    if numbers[i] not in new_numbers:
        new_numbers.append(numbers[i])

new_numbers

[10, 20, 30, 40]

In [27]:
numbers = [
    10, 20, 20, 
    30, 40, 40, 
    40
    ]

new_numbers = []

for i in range(0,len(numbers)):
    if numbers.count(numbers[i])== 1:
        new_numbers.append(numbers[i])

new_numbers

[10, 30]

# Ejercicio 3

Dados estos clientes:

* Usando el continue/break

Trata de averiguar si un cliente concreto se encuentra en la BBDD (Base de Datos)

"Ana Pérez", "Juan García", "Andres Álvarez", "Luis Ramos", "Pedro Cadenas", "Estefanía Miguélez", "Alberto Delgado", "Susana Castro", "Luis González"

In [28]:
employees = [
    "Ana Pérez", "Juan García", "Andres Álvarez", 
    "Luis Ramos", "Pedro Cadenas", "Estefanía Miguélez", 
    "Alberto Delgado", "Susana Castro", "Luis González"
    ]

In [29]:
##Metodo 1
if "Luis González" in employees: print("Se encuentra en la lista")
else: print("No se encuentra en la lista")

Se encuentra en la lista

In [32]:
##Metodo 2

finded = False

for name in employees:
    if name == "Estefanía Miguélez":
        finded = True
        break

if finded: print("Se encuentra en la lista")
else: print("No se encuentra en la lista")

Se encuentra en la lista

*Creado por*

*Isabel Maniega*