In [1]:
import pandas as pd
import numpy as np

*Creado por:*
    
*Isabel Maniega*

# Ejercicio 1

**Calcula la longitud de una cadena de texto sin usar la instruccion len(cadena)**

**1)**

Cadena de texto: hola como estas?

Nombre de la variable: "cadena"

**2)**

Longitud de la cadena de texto

**3)**

Longitud de la cadena de texto calculada con un bucle

In [34]:
text = input("Dime tu frase a medir: ")

i = 0

while True:
    try:
        text[i]
        i += 1
    except:
        break

print(f"La cadena {text} tiene {i} caracteres")

Dime tu frase a medir: Hola que tal?
La cadena Hola que tal? tiene 13 caracteres

# Ejercicio 2

Crea un diccionario que tenga la nota de 3 asignaturas y 

haz un pequeño algoritmo que calcule la nota media

In [3]:
# CURSO         -> Nota
# ---------------------
# Python        ->  10
# Big Data      ->  8
# NLP           ->  6
dic_notas = {"Python":10,"Big Data":8, "NLP":6}
dic_notas

{'Python': 10, 'Big Data': 8, 'NLP': 6}

**1)** Muestra el valor de las claves

In [4]:
for key in dic_notas.keys():
    print(key)

Python
Big Data
NLP

**2)** Muestra el valor de los valores del diccionario

In [5]:
for value in dic_notas.values():
    print(value)

10
8
6

**3)** Apendiza en el diccionario un nuevo elemento: 
    
Machine Learning  --> 9

In [6]:
dic_notas["Machine Learning"] = 9
dic_notas

{'Python': 10, 'Big Data': 8, 'NLP': 6, 'Machine Learning': 9}

**4)** Haciendo uso un bucle muestra la clave y el valor del diccionario, cuyo resultado final sean listas anidadas.

*[["clave1", valor1], ["clave2", valor2]]*

In [7]:
l =[]
for key in dic_notas.keys():
    l.append([key, dic_notas[key]])
l

[['Python', 10], ['Big Data', 8], ['NLP', 6], ['Machine Learning', 9]]

**5)** Reconvierte el diccionario para transformarlo en un dataframe y busca la asignatura con la nota más alta

In [8]:
df_diccionario = pd.DataFrame([key for key in dic_notas.keys()], columns=["claves"])
df_diccionario["valores"] = [value for value in dic_notas.values()]

df_diccionario

             claves  valores
0            Python       10
1          Big Data        8
2               NLP        6
3  Machine Learning        9

In [9]:
max(df_diccionario["valores"])

10

**6)** ¿y la nota más baja?

In [10]:
min(df_diccionario["valores"])

6

**7)** Ordena el dataframe en orden descendente:

In [11]:
df_diccionario = df_diccionario.sort_values(by="valores", ascending = False)
df_diccionario

             claves  valores
0            Python       10
3  Machine Learning        9
1          Big Data        8
2               NLP        6

**Extra** Calcula la media de notas usando el diccionario

In [12]:
media = 0
for value in dic_notas.values():
    media += value
    
media /= len(dic_notas)
print (f"La media de notas es de: {media}")

La media de notas es de: 8.25

# Ejercicio 3

Dadas 2 funciones:

Determina cual de ellas ejecuta mas rápido.

Si sabes, hazlo de 2 formas.

**función a**

def main():
    for i in range(10**8):
        pass

main()

In [13]:
def fun_a():
    for i in range (10**8):
        pass

In [14]:
%%time

fun_a()

CPU times: total: 1.83 s
Wall time: 1.83 s

**función b**

def main():
    for i in np.arange(10**8):
        pass

main()

In [15]:
def fun_b():
    for i in np.arange(10**8):
        pass

In [16]:
%%time

fun_b()

CPU times: total: 5.19 s
Wall time: 5.2 s

Es más rápida la **función a** que no usa numpy

# Ejercicio 4

Dada: 

Una matriz tal que así:

A = np.array([[1,2,3], [4,5,6], [7,8,9]])

se pide:

**1)**

Escribe ese código en Python

In [30]:
a = np.array([
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
])

**2)**

Escribe la matriz transpuesta.

Nota, puedes usar numpy, si quieres.

si sabes más de una forma puedes usar varias.

In [31]:
a.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [32]:
np.transpose(a)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

**3)**

Se pide que hagas lo mismo, pero con un bucle.

In [33]:
b = np.zeros((len(a[0]),(len(a))),dtype=int)


## i = posición de la fila
for i in range(len(a)):
    ## j = posición de la columna
    for j in range(len(a[0])):
        b[j,i] = a[i,j]
        
print(b)

[[1 4 7]
 [2 5 8]
 [3 6 9]]

*Creado por:*
    
*Isabel Maniega*